#aboutPage .safariSpace,
#aboutPage _::-webkit-:not(:root:root) {
  display: block;
  width: 100%;
  height: 2px; }

#aboutPage .safariSpace {
  display: none; }

#aboutPage .safariSpace,
#aboutPage _::-webkit-:not(:root:root) {
  display: block;
  width: 100%;
  height: 10px; }

#aboutPage .aboutContent {
  padding-top: 60px; }
  @media only screen and (max-width: 425px) {
    #aboutPage .aboutContent {
      padding-top: 20px; } }
