////////////////////////////////////////
// Mixins
////////////////////////////////////////

////////////////////////////////////////
// Variables
////////////////////////////////////////

$clarendon-wide: "clarendon-wide", sans-serif;

.generalSubBanner {
  width: 100%;
}

////////////////////////////////////////
// Greenwood Banner
////////////////////////////////////////

.greenWoodBanner {
  margin-top: 0;
  background-image: url("img/greenWood.jpg");
  text-align: center;
  color: white;
  padding: 20px;
  h4 {
    font-family: $clarendon-wide;
    letter-spacing: 2.3pt;
    font-size: 23pt;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
  }
  p {
    font-family: $futura;
  }
}

////////////////////////////////////////
// Share Icons
////////////////////////////////////////

////////////////////////////////////////
// Event Bookmark
////////////////////////////////////////
.eventBookmark {
  display: inline-block;
  float: left;
  width: 0;
  height: 100px;
  border-right-width: 45px;
  border-right-style: solid;
  border-right-color: #5d635a;
  border-bottom-width: 14px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-width: 45px;
  border-left-style: solid;
  border-left-color: #5d635a;
  color: white;
  .bookmarkText {
    margin-left: -45px;
    width: 90px;
    text-align: center;
  }
  .underLine {
    height: 1px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
  }
  .bookMarkWeekDay {
    text-transform: uppercase;
    font-size: .7em;
  }
  .bookMarkMonth {
    margin-top: 4px;
  }
  .bookmarkDayCal {
    padding: 1px;
    font-size: 26px;
    margin-top: -13px;
    font-family: $clarendon-wide;
  }
}

/////////////Page headers///////
////////

.pageHeader {
  margin-bottom: 20px;
  color: #718a50;
  font-weight: bold;
  font-size: 18px;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 25px;
}

////////////////////////////////////////
// Filters
////////////////////////////////////////

.desktopFilter {
  display: block;
  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.mobileFilterDropdown {
  line-height: 50px;
  cursor: pointer;
  width: 100%;
  display: none;
  .glyphicon {
    margin-top: 17px;
    text-align: center;
  }
  @media only screen and (max-width: 991px) {
    display: inline-block;
  }
}

.mobileFilter {
  display: none;
  @media only screen and (max-width: 991px) {
    width: 100%;
    margin-top: -50px;
    display: inline-block;
  }
}

/////////////////////////////////////
////// VOLUNTEER DIRECTIVE BTN //////
////////////////////////////////////
.volunteerBtn {
  margin: auto auto 20px;
  padding: 25px;
  max-width: 320px;
  border: 2px solid white;
  background-image: url("img/blueSquare.jpg");
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;

  h5 {
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
    line-height: .1em;
  }

  span {
    padding: 0 10px;
    background-image: url("img/blueSquare.jpg");
  }
  @media only screen and (max-width: 425px) {
    h3 {
      font-size: 16px;
    }
  }
}
.volunteerBtn:hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px lightgrey;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
}
