.conservancyHeroImg {
  margin: auto;
}
.featuredStory {
  padding: 10px;
  position: relative;
  height: 270px;
}
.ftStoryInfo {
  float: left;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  width: 40%;
  background: rgba(90,98,93, 0.8);
  padding: 20px;
}
.ftStoryTitle {
  font-weight: 700;
  line-height: 16px;
  font-size: 16.5px;
}
.readMore {
  text-decoration: underline;
  display: inline-block;
  font-weight: 400;
  font-decoration: italic;
  padding-top: 0;
  cursor: pointer !important;
}
.storyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.storyInfo {
  float: left;
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 10px;
  right: 10px;
  background: rgba(90,98,93, 0.8);
}
.storyTitle {
  font-weight: 700;
  line-height: 16px;
  font-size: 16.5px;
}
.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#conservancyCarouselHero {
  display: block;
  float: left;
  width: 100%;
}

.storiesRow {
  display: block;
  float: left;
  clear: both;
  padding: 20px;
  width: 100%;
}

.safariSpace {
  display: none;
}
.safariSpace,
_::-webkit-:not(:root:root) {
  display: block;
  width: 100%;
  height: 80px;
}

.conservancyBanner {
  padding: 20px;
  background-image: url('img/greenWood.jpg');
  color: white;
  text-align: center;
}

.conservancyBanner p {
  padding-top: 5px;
  color: white;
}

#conservancyPage {
  .minorStory {
    width: 50%;
    position: relative;
    padding: 10px;
    height: 270px;
  }

}
@media only screen and (max-width: 425px) {

  .conservancyBanner p {
    font-size: 3vw;
    line-height: 18px;
  }

  .conservancyBanner {
    height: 180px;
  }

  #conservancyPage {
    .bannerHeader {
      margin: 0;
      padding: 1px;
      font-size: 4.5vw;
      line-height: 20px !important;
    }

    .bannerBtn {
      padding: 5px;
      font-size: 3vw;
    }

    a.right.carousel-control {
      width: 15px !important;
    }

    a.left.carousel-control {
      width: 15px !important;
    }

    .storiesRow {
      padding: 0;
    }

    .featuredStory {
      margin: 0;
      width: 100%;
    }

    .minorStory1,
    .minorStory2 {
      display: inline-block;
      padding: 2px;
      width: 50%;
    }
  }
}

.conservancyMobileHeroImg {
  display: none !important;
}
@media only screen and (max-width: 750px) {
  .conservancyNonfeatured {
    margin-bottom: 15%;
  }
  .conservancyHeroImg {
    display: none !important;
  }

  .conservancyMobileHeroImg {
    display: block !important;
  }
}
@media only screen and (max-width: 375px) {
  .conservancyNonfeatured {
    margin-bottom: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .conservancyNonfeatured {
    margin-bottom: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .conservancyNonfeatured {
    margin-bottom: 110%;
  }
}
@media only screen and (max-width: 768px) {
  .conservancyNonfeatured {
    margin-bottom: 25%;
  }
}
