#donatePage {

  #donateFormContainer {
    margin-top: 5%;
  }
    .headerMobile {
        color: #F48C75;
        padding-left: 10%;
        font-weight: 400;
        font-size: 25px;
        padding-bottom: 30px;
        padding-top: 15px;
        padding-bottom: 40px;
        background-color: #FEF6F4;
        border-bottom: 1px solid #F48C75;
        border-top: 1px solid #F48C75;
    }

    .volunteerOption {
        color: #f48c75;
        border-bottom: 1px solid #f48c75;
        overflow-x: auto;
    }

    .optionTopRow {
        height: 50px;
        padding: 0;
    }

    .optionTitleWays {
        color: #f48c75;
        margin-top: 20px;
        line-height: 30px;
        font-size: 12px;
    }

    .btn-black {
        margin-left: 10px;
        background-color: #f48c75;
        border-color: #f48c75;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: none !important;
        text-align: center;
    }

    svg {
        fill: $parkOrange;
    }

    .safariSpace {
        display: none;
    }

    .safariSpace,
    _::-webkit-:not(:root:root) {
        display: block;
        width: 100%;
        height: 10px;
    }

    .orLine {
        border-top: 2px solid;
        margin-top: 25px;
    }

    .orDivider {
        text-align: center;
        line-height: 50px;
        font-style: italic;
    }

    .parkAngelInfoBox {}

    .absoluteIcon {
        position: absolute;
        top: 10px;
        left: 5px;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .optionExtraInfoText a {
        color: $parkOrange;
    }

    .center-text {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 425px) {
    #donatePage {
        .resize {
            width: 300px;
            // resize in mobile view not working
        }

        .blocker {
            display: none;
        }

        .modalBody {
            padding: 10px !important;
        }

        .optionIconDonate {
            margin-top: 8% !important;
        }

        .optionTitle {
            margin-left: -5px !important;
            font-size: 14px !important;
        }
    }
}
