/* #footer { */
.volbutton2 {
    margin-left: -15%;
    margin-bottom: 25%;
    width: 28%;
}

.signup {
    float: right;
    padding-top: 30px;
    width: 450px;
    padding-right: 0px;

    ::-webkit-input-placeholder {
        color: white;
    }

    :-moz-placeholder {
        color: white;
    }

    ::-moz-placeholder {
        color: white;
    }

    :-ms-input-placeholder {
        color: white;
    }
}

.siteBy {
    float: right;
    color: white;
    letter-spacing: 1px;
    font-size: 10px;
}

.floatRight {
    float: right;
}

.OM {
    letter-spacing: 2px;
    font-size: 12px;
}

.parkNavFooter {
    position: relative;
    z-index: 49;
    width: 100%;
    background-color: #f2f3ec;
    clear: both;

    .emailFormInput {
        padding-left: 10px;
        width: 306px;
        height: 35px;
        border: none;
        border-radius: 0;
        background-color: #BFC2A2;
        color: white;
        letter-spacing: 2px;
        font-size: 12pt;
    }

    .mailchimpSubmit {
        padding-right: 10px;
        padding-left: 10px;
        height: 35px;
        border-top: 3px solid #BFC2A2;
        border-right: 3px solid #BFC2A2;
        border-bottom: 3px solid #BFC2A2;
        border-radius: 0;
        background-color: #F2F3EC;
        color: #BFC2A2;
    }

    .footerInfo {
        margin-top: -20px;
    }

    .footerSocialIcons {}

    .successMessage {
        color: #BFC2A2;
    }

    .footerLinks {
        margin-top: -20px;
        font-size: 12px;
    }

    .footerCopy {
        margin-top: -5px;
        font-size: 11px;
        p {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .siteMap {
        a {
            margin-bottom: 15px;
            text-align: left;
            text-transform: uppercase;
            font-weight: heavy;
            font-size: 12px;

            &:hover {
                color: #e6ae49;
                text-decoration: none;
            }
        }

        .conservancyLinks {
            margin-left: -20px;
        }
    }

    .navGrassTopper {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
    }

    ul.siteMapLinks {
        li {
            a {
                padding-left: 9px;
                color: #F2F3EC;
            }
        }

        ul {
            li {
                padding-left: 10px;
                text-transform: none;
                font-size: 9px;
            }
        }
    }

    input[type="email"]#mce-EMAIL {
        padding: 5px 5px 5px 0;
        width: 145px !important;
        border: none !important;
        background-color: #BFC2A2;
        //  padding-left:5px;
        color: #F2F3EC !important;
        letter-spacing: 2px;
        font-style: italic;
    }
}
.footer-site-map-header {
    font-size: 12px;
    margin-bottom: 15px;
    font-family: "futura-pt",sans-serif;
    padding-right: 0;
    padding-bottom: 3px;
    padding-left: 0;
    background: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}

#sign-me-up-button {
    height: 35px;
}

.mail-chimp-result-message {
    color: rgb(191, 194, 162);
}
.footer-sub-cat {
    padding-left: 10px;
}

.navFooterBottom {
    position: relative;
    display: block;
    float: left;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;
    width: 100%;
    background-color: #d1d3bc;
    a {
        text-decoration: none !important;
    }
    ul {
        padding-top: 5px;
        padding-left: 0;

        li {
            list-style-type: none;
            font-style: italic;

            a {
                color: white;
                text-align: left;
            }
        }
    }
}

.navFooterTop {
    height: 270px;
    padding-top: 15px;
    width: 100%;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(242, 243, 236);
    position: relative;
    z-index: 49;
    display: block;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    height: 270px;
    background-color: rgb(242, 243, 236);
    color: white;

    ul {
        padding-left: 0;
        color: #BFC2A2;
    }

    li {
        display: inline-block;
        color: #BFC2A2 !important;
        list-style-type: none;
    }

    a {
        padding: 5px;
        color: #BFC2A2 !important;
        font-weight: 100px;
        text-decoration: none !important;
    }

    a:hover {
        opacity: 0.3;
    }

    p {
        padding-left: 5px;
        color: #BFC2A2;
        font-style: italic;
    }

    a,
    i.fa {
        display: inline-block;
        padding: 20px 5px 5px;
        color: #BFC2A2 !important;
        font-weight: 100px;
    }
}

.sharedNavHeader {
    a {
        text-decoration: none;
    }

    a:active,
    a:focus {
        text-decoration: none;
    }
}

.ctaWrapper {
    position: relative;
}

.navShortView {
    .shortNavDropDown {
        padding-bottom: 35px;
        padding-left: 35px;
    }

    .shortNavLinks {
        a {
            display: block;

            &:hover {
                color: #e6ae49;
            }
        }
    }
}
