.parkAngelPage {
  margin-top: 5%;
}
.address {
    text-align: left;
    h6 {
      color: #718A50;
      padding-top: 30px;
    }
}
.parkAngelAddressDiv {
  padding: 20px;
  background-color: #F4F6F1;
  border-bottom:1px solid #718A50;
  border-top: 1px solid #718A50;
  color: #718A50;
}
.memberAvatar {
  cursor: pointer;
}
