$moveLightBlue: #439BFF;
$moveBlue: #3B85D8;
$moveLightGrey: #DDDDDD;
$moveGrey: #A2A2A2;
$moveRed: #D0021B;
$moveDarkGrey: #1A1E22;
$moveWhiteGrey: #F2F2F2;
$moveBorderGrey: #E1E1E1;
$moveSlateGrey: #282E35;
$moveBodyGrey: #E4E4E4;
$parkOrange: #f48c75;
$parkOrangeCream: #fef6f4;
$parkGrey: #696e67;
$parkGreen: #718a50;
$omGrey: #5d635a;
$futura: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;

// .row {
//   margin-left: auto !important;
//   margin-right: auto !important;
// }

// volunteer button on mobile
.volbuttonMobile {
  margin-bottom: 50%;
}
.perennialPgVolButton {
  padding: 0;
}
.center-text {
  text-align: center;
}
.greyBack {
  background-color: $parkGrey;
}

.greyText {
  color: $parkGrey;
}

.greyBorder {
  border-color: $parkGrey;
}

.parksContainer {}

.omGrey {
  color: $omGrey;
}

.omBorder {
  border-color: $omGrey;
}

.omBack {
  background-color: $omGrey;
}

.orangeText {
  color: $parkOrange;
}

.orangeBorder {
  border-color: $parkOrange;
}

.orangeBack {
  background-color: $parkOrange;
}
.orangeBanner {
  background-image: url('img/orangeWood.jpg');
}
.greenBanner {
  background-image: url('img/greenWood.jpg');
}
.greenBanner,
.orangeBanner,
.volunteerBanner {
  padding: 20px;
  color: white;
  text-align: center;
  clear: both;
  h4 {
    padding-bottom: 20px;
    color: white;
    letter-spacing: 2.3pt;
    font-weight: 400;
    font-size: 23pt;
    line-height: 28px;
    font-family: "clarendon-wide",sans-serif;
  }
  p {
    margin: 0 0 10px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding-bottom: 10px;
    font-family: "futura-pt",sans-serif;
  }
  @media only screen and (max-width: 425px) {
    h4 {
      font-size: 19pt;
      line-height: 37px;
    }
  }
}

select.form-control {
  -webkit-appearance: none !important;
  border-bottom-right-radius: none !important;
  border-bottom-left-radius: none !important;
  border-top-right-radius: none !important;
  border-top-left-radius: none !important;
}
.mobile-hero-image {
  display: none !important;
  width: 100%;
}
.gallery-modal {
    padding: 0 !important;
}
.carousel-inner {
    overflow: visible;
}
.inner-intro.bg-img {
  height: 0;
  padding-bottom: 69.74%;
  @media only screen and (min-width : 992px) {
    height: 100%;
    padding-bottom: 0;
  }
}
.gallery-modal-description {
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    p {
        margin: 0 !important;
    }
}
@import 'unsorted.scss';
@import 'components.scss';
@import 'about.scss';
@import 'calendar.scss';
@import 'conservancy.scss';
@import 'contact.scss';
@import 'donate.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'home.scss';
@import 'navigation.scss';
@import 'news.scss';
@import 'newsDetail.scss';
@import 'option.scss';
@import 'parkDetail.scss';
@import 'parkFinder.scss';
@import 'plantList.scss';
@import 'programs.scss';
@import 'renovationDetail.scss';
@import 'volunteer.scss';
@import 'staffList.scss';
@import 'careers.scss';
@import 'donate.scss';
@import 'listview.scss';
@import 'parkbench.scss';
@import 'partials.scss';
@import 'perennial.scss';
@import 'privacy.scss';
@import 'memberview.scss';
