#memberView {
  .topBanner {
    background-image: url('img/greenWood.jpg');
    text-align: left;
    color: white;
    padding: 20px;
  }
  .backToListView {
    color: white;
    font-weight: 400;
    padding-left: 40px;
    padding-bottom: 5px;
    cursor:pointer;
  }
  .memberPic {
    color: white;
    text-align: center;
    background-color: #718A50;
    position: relative;
    background-size: cover !important; background-position: 25% 25%;
    background-repeat: no-repeat;
  }
  .memberInfo {
    padding-top: 20px;
  }
  .memberName {
    color: grey;
    font-size: 35px;
    margin-top: 10px;
    padding-bottom: 10px;
    line-height: initial;
  }
  .memberTitle {
    color: grey;
    font-size: 17px;
    display: inline-block;
  }
  .memberBody {
    border-top: 1px solid #718A50;
    padding-top: 20px;
  }
  #newsbody {
    color: grey;
  }
  .memberGallery {
    padding: 15px;
    margin-top: 20px;
  }
  .galleryImages {
    cursor: pointer;
    width: 180px !important;
  }
  .unselectedMembers {
    width: 150px;
    margin-bottom: 20px;
  }
}
