#parkFilters {
  margin-top: 20px;
}

.mobileNavTxtSmall {
  display: inline-block;
  font-size: .82em;
  color: rgb(113, 138, 80) !important;
}
@media (max-width: 414px) {
  .mobileNavTxt {
    font-size: 1.4em !important;
  }
  .heroLogo {
    width: 40px !important;
  }
}
@media (max-width: 768px) {
  .mobileNavTxt {
    font-size: 1.7em !important;
  }
  .heroLogo {
    width: 80px;
  }
}
@media (max-width: 320px) {
  .mobileNavTxtSmall {
    font-size: .7em !important;
  }
  .mobileNavTxt {
    font-size: 1em !important;
  }
  .heroLogo {
    width: 31px !important;
  }
}
@media (max-width: 375px) {
  .heroLogo {
    width: 36px !important;
  }
}
@media (min-width: 480px) {
  .mobileNavTxt {
    font-size: 1.25em !important;
  }
}
@media all and (max-width: 991px) {

  .detailContainer {
    margin-top: 20px;
  }

  .parksContainer {
    margin-top: -76px;
  }

  #parkFilters {
    margin-top: 80px;
  }

  .full-intro .header {
    /*background-color: rgba(255,255,255,0);*/
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #parksHeader {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    border-width: 1px 0 0;
  }
}

.midMobileNav {
  display: inline-block !important;
  width: 100% !important;
}
