#newsDetailPage {
  position: relative;
  .greenBanner {
    text-align: left;
    a {
      color: white;

    }
  }
  .bookmarkDay {
    margin-top: -30px;
    font-weight: 400;
  }
  .bookMarkYear {
    font-size: .7em;
  }
  .newsDetailTopText {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
  }
  .newsTopic {
    color: #718A50;
    font-size: 12px;
    padding-bottom: 10px;
  }
  .newsArticleTitle {
    color: #718A50;
    font-size: 25px;
    margin-bottom: 4px;
    line-height: 30px;
  }
  .omGrey {
    font-size: 10px;
    display: inline-block;
  }
  .fullArticle {
    border-top: 1px solid #718A50;
    padding-top: 20px;
  }
  #newstags {
    border-top: 1px solid rgb(93, 99, 90);
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 40px;
  }
  @media only screen and (max-width: 991px) {
    .eventBookmark {
      position: absolute;
      top: 0;
      left: 30px;
    }
    .newsDetailCopy {
      position: static;
    }
    .share,
    .share p {
      padding-right: 0;
    }
  }
  .share {
    margin-top: 10px;
    display: block;
    text-align: right;
    p {
      padding-right: 10px;
      color: #5d635a;
    }
    span {
      padding-left: 10px;
    }
    a {
      color: #718A50;
    }
    i {
      padding-right: 10px;

    }
  }
  .gallery {
    padding: 0;
    margin-top: 20px;
    .galleryImages {
      object-fit: cover;
      height: 135px;
    }
  }

}
.newsDetailGallery {
  width: 100%;
}
