#newsPage {
  .red {
    opacity: .5;
  }
  .newsArchivePickerRow {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #5d635a;
  }
  .eventContainer {
    display: block;
    width: 100%;
  }
  .bookMarkFt {
    font-size: .7em;
    padding-top: 5px;
  }
  .featuredNewsBorder {
    text-align: center;
    min-height: 350px;
    background-color: #718A50;
  }
  .bookmarkDay {
    font-weight: 400;
    margin-top: -29px;
    font-size: 2.25em;
  }
  .newsFtInfo {
    text-align: left;
    line-height: 75px;
    padding-left: 25px;
  }
  .newsFtTopic {
    text-align: left;
    font-size: 10px;
    margin-top: 20px;
    display: inline-block;
  }
  .eventBookmark {
    margin-left: 15px;
    width: 0;
    height: 100px;
    border-left-width: 45px;
    border-left-style: solid;
    border-left-color: #5d635a;
    border-right-width: 45px;
    border-right-style: solid;
    border-right-color: #5d635a;
    border-bottom-width: 14px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  .imageBackground {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .newsTopic {
    margin: auto;
    display: block;
    padding-top: 35%;
    @media only screen and (max-width: 991px) {
      padding-top: 15%;
    }
  }
  .newsTitle {
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .parksContainer {
    float: none;
  }
  #parkFilters1 {
    margin-bottom: 40px;
  }
  .parkLocationDropdown {
    cursor: pointer;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
    letter-spacing: .3em;
  }
  .mobileArrow {
    margin-top: 20px;
    padding: 0;
  }
  .filterScriptMobile {
    line-height: 50px;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .eventCallToAction {
    background-color: #5d635a;
    text-align: center;
    margin-top: -10px;
  }
  .callToActionText {
    padding: 15px 5px 5px;
    font-size: 12px;
    cursor: pointer;
  }
  .newsFtTitle {
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 35px;
  }
  .newsFtBorderBottom {
    padding-bottom: 15px;
  }
  .backgroundImageHover {
    text-align: center;
    height: 300px;
    background-color: #718A50;
    position: relative;
  }
  .newsFtText {
    margin: auto;
    display: block;
  }
  .imgAndBookMark {
    background-size: cover !important;
    background-repeat: no-repeat;
    min-height: 350px;
    background-position: 0 10%;
  }
  .eventBookmark {
    width: 0;
    height: 102px;
    border-left-width: 45px;
    border-left-style: solid;
    border-left-color: #5d635a;
    border-right-width: 45px;
    border-right-style: solid;
    border-right-color: #5d635a;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  .newsSearchBar {
    border-radius: 0;
    background-color: #F1F3ED;
    -webkit-box-shadow: none;
    color: grey;
    -webkit-appearance: none;
    border: none;
  }
  #basic-addon2 {
    border-radius: 0;
    background-color: #F1F3ED;
    -webkit-appearance: none;
    border: none;
    color: grey;
  }
  .fa-search {
    font-size: 18px;
  }
  .newsBlocker {
    margin-left: 20px;
    text-align: center;
  }
  .safariSpace {
    display: none;
  }
  .safariSpace,
  _::-webkit-:not(:root:root) {
    display: block;
    width: 100%;
    height: 5px;
  }
  .greyDivider {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 2px;
    background-color: grey;
  }
  .eventBlock,
  .featuredNews {
    padding: 20px;
    @media only screen and (max-width: 991px) {
      padding: 20px 0;
    }
  }
  .bannerBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
}
.donateModal {
  width: 100%;
  margin: 0 auto;
}
.modalBody {
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
  background-color: white;
}
.newsDetailFtInnerImage {
  min-height: 350px !important;
}
.backgroundImageHover {
  position: relative;
  z-index: 1;
}
.imageBackground {
  opacity: .5;
  transition: all ease .25s;
}
.backgroundImageHover:hover {
  .imageBackground {
    opacity: .1;
  }
}
.pagination li a:hover {
  border: 1px solid rgb(191, 194, 162);
  background-color: transparent;
  color: grey;
}
.pagination li a {
  // border-radius: 50% !important;margin: 0 6px; border: none; background-color: white; color: rgb(191, 194, 162); } .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { border: 1px solid grey; background-color: white; color: rgb(191, 194, 162); } .pagination > .disabled > a { color: rgb(191, 194, 162); } .pagination .active a, .pagination a:hover { background-color: #f5f5f5; color: rgb(191, 194, 162); } .pagination .active a { color: rgb(191, 194, 162); cursor: default; } .eventBookmark { display: inline-block; float: left; width: 0; height: 100px; border-right-width: 45px; border-right-style: solid; border-right-color: #5d635a; border-bottom-width: 14px; border-bottom-style: solid; border-bottom-color: transparent; border-left-width: 45px; border-left-style: solid; border-left-color: #5d635a; color: white; .bookmarkText { margin-left: -45px; width: 90px; text-align: center; } .underLine { height: 1px; width: 80%; background-color: white; margin: 0 auto; } .bookMarkWeekDay { text-transform: uppercase; font-size: .7em; } .bookMarkMonth { margin-top: 4px; } } .dropbtn { margin: 2px; padding: 5px; width: 70%; border: none; border-radius: 0; background-color: grey; color: white; -webkit-appearance: none; } /* trying to add newer and older to */ /* .pager { margin-left: 0; margin-bottom: 18px; list-style: none; text-align: center; } */ .pager li a { content: "NEWER"; } .square { width: 200px; height: 200px; } .galleryImages { margin-top: 10px; width: 200px; height: auto; opacity: 1; } .galleryImages:hover { opacity: .5; } .galleryImages:hover { opacity: .6; } .parkFinderCheckBox { float: none !important; } .newsFilters { padding-left: 35px; } @media only screen and (max-width: 865px) { #newsPage { .newsBlocker { display: none; } } @media only screen and (max-width: 425px) { .greenWoodBanner { padding: 5px; //this decreases space between filter text and green banner } .greyDivider { margin-top: 5px; margin-bottom: 5px; } .eventBlock, .featuredNews { padding: 5px 0 0 !important; } .bannerHeader { padding-bottom: 5px; } .bannerHeader h4 { padding-bottom: 10px; } .bannerHeader p { font-size: 4vw; line-height: 4vw; } .bannerBackground { height: 110px; /* padding: 0; */ } } }
}
