.optionTopRow {
  cursor: pointer;
}
.optionExtraInfoText {
  font-weight: 400;
  clear: both;
}
.optionExtraInfo {
  padding: 20px 10px 20px 35px;
  color: grey;
}
.optionArrow {
  display: inline-block;
  margin-bottom: 10px;
  float: right;
  margin-top: 25px;
  width: 10px;
}

.optionTitle {
  text-align: center;
  margin-left: 10px;
  font-size: 15px;
  line-height: 1.2em;
}

.optionTitleWays {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.volunteerOption {
  clear: both !important;
  min-height: 70px !important;
  color: #4797B5;
  font-weight: bold;
  border-bottom: solid 1px #4797B5;
}
@media (max-width:500px) {
  .optionTitle {
    margin-left: -5px !important;
    font-size: 10px !important;
  }
  .optionTopRow {
    margin-left: 0 !important;
  }

  .volunteerOption {
    padding: 0 !important;
  }
}
// @media (max-width:375px) {
//   .volunteerOption {
//     border-bottom: none;
//   }
// }
// @media (max-width:414px) {
//   .volunteerOption {
//     border-bottom: none;
//   }
// }
// @media (max-width:320px) {
//   .volunteerOption {
//     border-bottom: none !important;
//   }
