#perennialPage {
  .mainContainer {
    padding: 6%;
    margin-top: -4%;
    .ng-binding {
      color: #f48c75;
      line-height: 60px;
      border-top: 2px solid #f48c75;
      border-bottom: 2px solid #f48c75;
      text-align: center; width: 100%;
      margin-top: 30px;
      margin-bottom: 50px;
      font-size: 1.25em;
      img {
        width: 30px;
        margin-right: 20px;
        margin-top: -5px;
      }
    }
    .thin1 {
      color:grey;
      text-align: center;
    }
    .thin2 {
      color:white;
      padding:10px;
      background-color: #f48c75;
      text-align: center;
      margin-top: 15px;
      font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
  .parkAngelInfoBox {
    text-align: center;
  }
  .parkAngelLogo {
    display: block;
    margin: 20px auto 0px;
  }
  .ng-isolate-scope {
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    color: grey;
  }
  .futuraThin {
    font-size: 18px;
    color: white !important;
  }
  .tk-clarendon-wide {
    padding-bottom: 20px;
    color: white !important;
  }
}
