#privacyPolicy {
  .detialContainer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
  }
  .column {
    background-image: url('img/greenWood.jpg');
    text-align: center;
    color: white;
    padding: 20px;
  }
  .thin {
    color: white;
    padding-bottom: 10px;
  }
}
