.staffName {
  min-height: 85px;
  color: rgb(113, 138, 80) !important;
  text-align: center;
}

#staff {
  .forVolunteer {
    width: 600px;
    margin: auto;
  }
  .parksContainer {
    overflow: hidden;
    #staffImageBanner {
      margin-top: 34px;
      display: block;
      float: left;
      width: 100%;
      .desktopImageSizing {
        width: 100vw;
        padding: 0;
      }
    }
    .staffHeader {
      text-align: center;
      color: white;
      padding: 20px;
      position: relative;
      .thin {
        color: white;
      }
      p.thin {
        padding-bottom: 10px;
      }
      img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .ptb {
      .container {
        padding-top: 60px;
        .row > .col-md-4 {
          margin-top: -40px;
        }
        .volunteerBtn {
          h3 {
            color: white !important;
          }
          span {
            font-size: 18px;
            color: white !important;
          }

        }
      }
      .contactWrapper {
        padding: 20px;
        background-color: #F4F6F1;
        border-bottom: 1px solid #718A50;
        border-top: 1px solid #718A50;
        color: #718A50;
      }
      h6 {
        color: #718A50;
        padding-top: 30px;
      }
    }
  }

}
