<div id="homePage">
  <!--  Content  -->
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="navbar-brand">
      <a href="/"><img src="/img/CititBotLogo-Final.png"></a>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <!-- <li>
            <a href="#" class="icon fa-angle-down">Layouts</a>
            <ul>
              <li><a href="/generic">Generic</a></li>
              <li><a href="/contact">Contact</a></li>
              <li>
                <a href="#">Submenu</a>
                <ul>
                  <li><a href="#">Option One</a></li>
                  <li><a href="#">Option Two</a></li>
                  <li><a href="#">Option Three</a></li>
                  <li><a href="#">Option Four</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
          <li><a href="#" class="button">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner" class="video-container">
      <video src="Citibot.mp4" autoplay loop muted playsinline></video>
      <div class="callout">
        <!-- <h1 style="color:black;">CITIBOT</h1> -->
        <!-- <div style="color:black;">CSS Background-Size: Cover for Inline Images &amp; Videos</div> -->
      </div>
    </section>

    <!-- Main -->
    <section id="main" class="container">
      <section class="box special features">
        <div class="features-row">
          <section>
            <span class="icon major fa-bolt accent2"></span>
            <h3>Magna etiam</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
          <section>
            <span class="icon major fa-area-chart accent3"></span>
            <h3>Ipsum dolor</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
        </div>
        <div class="features-row">
          <section>
            <span class="icon major fa-cloud accent4"></span>
            <h3>Sed feugiat</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
          <section>
            <span class="icon major fa-lock accent5"></span>
            <h3>Enim phasellus</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
        </div>
      </section>

      <div class="row">
        <div class="6u 12u(narrower)">

          <section class="box special">
            <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
            <h3>Sed lorem adipiscing</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
        <div class="6u 12u(narrower)">

          <section class="box special">
            <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
            <h3>Accumsan integer</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
      </div>

    </section>

    <!-- CTA -->
    <section id="cta">

      <h2>Sign up for beta access</h2>
      <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

      <form>
        <div class="row uniform 50%">
          <div class="8u 12u(mobilep)">
            <input type="email" name="email" id="email" placeholder="Email Address" />
          </div>
          <div class="4u 12u(mobilep)">
            <input type="submit" value="Sign Up" class="fit" />
          </div>
        </div>
      </form>

    </section>
    <!-- <article>
    <h1>CitiBot</h1>
  </article> -->

    <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
    <!-- <video autoplay loop id="video-background" muted plays-inline>
    <source src="Citibot.mp4" type="video/mp4">
  </video> -->
  </div>
