<div id="homePage">
  <!--  Content  -->
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="navbar-brand">
      <a href="/"><img src="/img/CititBotLogo-Final.png"></a>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="#" class="icon fa-angle-down">Layouts</a>
            <ul>
              <li><a href="generic.html">Generic</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li>
                <a href="#">Submenu</a>
                <ul>
                  <li><a href="#">Option One</a></li>
                  <li><a href="#">Option Two</a></li>
                  <li><a href="#">Option Three</a></li>
                  <li><a href="#">Option Four</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" class="button">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner" class="video-container">
      <video src="Citibot.mp4" autoplay loop playsinline></video>
      <div class="callout">
        <!-- <h1 style="color:black;">CITIBOT</h1> -->
        <!-- <div style="color:black;">CSS Background-Size: Cover for Inline Images &amp; Videos</div> -->
      </div>
    </section>

    <!-- Main -->
    <section id="main" class="container">
      <section class="box special features">
        <div class="features-row">
          <section>
            <span class="icon major fa-bolt accent2"></span>
            <h3>Magna etiam</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
          <section>
            <span class="icon major fa-area-chart accent3"></span>
            <h3>Ipsum dolor</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
        </div>
        <div class="features-row">
          <section>
            <span class="icon major fa-cloud accent4"></span>
            <h3>Sed feugiat</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
          <section>
            <span class="icon major fa-lock accent5"></span>
            <h3>Enim phasellus</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          </section>
        </div>
      </section>

      <div class="row">
        <div class="6u 12u(narrower)">

          <section class="box special">
            <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
            <h3>Sed lorem adipiscing</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
        <div class="6u 12u(narrower)">

          <section class="box special">
            <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
            <h3>Accumsan integer</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
      </div>

    </section>
    <section>
      <a id="contact"></a>
      <div class="bloc bgc-davys-grey d-bloc" id="bloc-5">
        <div class="container bloc-lg">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" style="text-align:center;">
              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <div id="mc_embed_signup">
                <form action="//citibot.us13.list-manage.com/subscribe/post?u=d6f6e39c7473e9c1c10e566da&amp;id=022c11f15f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <h3 for="mce-EMAIL" style="color:white; text-align:center;">CONTACT US</h3>
                    <h2 style="color:white; text-align:center;">We're ready to put Citibot to work for YOU.</h2>
                    <h4 style="color:white; text-align:center;">Fill out the form below to find out how:</h4>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="row" style="margin-bottom:10px;">
                      <div class="col-xs-6">
                        <div class="mc-field-group" style="width:100%;">
                          <input type="text" value="" name="FNAME" class="contactInput required" placeholder="First Name*" id="mce-FNAME" style="background-color:#818181;color:white;border-radius:0;border:none;padding:15px;">
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="mc-field-group" style="width:100%;">
                          <input type="text" value="" name="LNAME" class="contactInput required" placeholder="Last Name*" id="mce-LNAME" style="background-color:#818181;color:white;border-radius:0;border:none;padding:15px;">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="mc-field-group" style="width:100%;">

                          <input type="text" value="" name="CITY" class="contactInput" placeholder="City" id="mce-CITY" style="background-color:#818181;color:white;border-radius:0;border:none;padding:15px;">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="mc-field-group" style="width:100%;">

                          <input type="email" value="" name="EMAIL" placeholder="Email*" class="contactInput required email" id="mce-EMAIL" style="background-color:#818181;color:white;border-radius:0;border:none;padding:15px;">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="mc-field-group" style="width:100%;">
                          <input type="text" name="PHONE" class="contactInput" placeholder="Telephone" value="" id="mce-PHONE" style="background-color:#818181;color:white;border-radius:0;border:none;padding:15px;">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="mc-field-group" style="width:100%;">

                          <textarea value="" placeholder="Comments..." style="width:100%; background-color:#818181;color:white;border-radius:0;border:none;padding-left:30px;padding-top:15px;" rows="7" name="COMMENTS" class="contactInput" id="mce-COMMENTS"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div id="mce-responses">
                          <div class="response" id="mce-error-response" style="display:none"></div>
                          <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6f6e39c7473e9c1c10e566da_022c11f15f" tabindex="-1" value=""></div>
                        <div class="clear" style="">
                          <input type="submit" value="submit" name="submit" id="mc-embedded-subscribe" class="contactBtn">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
              <script type='text/javascript'>
                (function($) {
                  window.fnames = new Array();
                  window.ftypes = new Array();
                  fnames[1] = 'FNAME';
                  ftypes[1] = 'text';
                  fnames[2] = 'LNAME';
                  ftypes[2] = 'text';
                  fnames[5] = 'CITY';
                  ftypes[5] = 'text';
                  fnames[0] = 'EMAIL';
                  ftypes[0] = 'email';
                  fnames[3] = 'PHONE';
                  ftypes[3] = 'number';
                  fnames[4] = 'COMMENTS';
                  ftypes[4] = 'text';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
              </script>
              <!--End mc_embed_signup-->
            </div>
          </div>
          <div class="footer">
            <ul class="info">
              <li>(843) 324-6167</li>
              <li><a href="mailto:info@citibot.io" style="color:rgba(255,255,255,.7)">info@citibot.io</a></li>
            </ul>
            <ul class="social">
              <li><a target="_blank" href="https://twitter.com/citibot_io" title="citibot_io"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <li><a target="_blank" href="https://www.facebook.com/citibotio" title="citibot_io"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                  <li><a target="_blank" href="https://www.instagram.com/citibot" title="citibot_io"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </section>

    <!-- CTA -->
    <section id="cta">

      <h2>Sign up for beta access</h2>
      <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

      <form>
        <div class="row uniform 50%">
          <div class="8u 12u(mobilep)">
            <input type="email" name="email" id="email" placeholder="Email Address" />
          </div>
          <div class="4u 12u(mobilep)">
            <input type="submit" value="Sign Up" class="fit" />
          </div>
        </div>
      </form>

    </section>
    <!-- <article>
    <h1>CitiBot</h1>
  </article> -->

    <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
    <!-- <video autoplay loop id="video-background" muted plays-inline>
    <source src="Citibot.mp4" type="video/mp4">
  </video> -->
  </div>
