<style>
div#carousel {
  perspective: 1200px;
  background: #100000;
  padding-top: 10%;
  font-size:0;
  margin-bottom: 3rem;
  overflow: hidden;
}
figure#spinner {
  transform-style: preserve-3d;
  height: 350px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}
figure#spinner img {
  width: 35%; max-width: 500px;
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent;
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg);
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }
</style>
<div id="homePage">
  <div></div>
  <div class="home-page jumbotron">
    <div class="fluid-container">
      <h1>{{home.fields.bannerHeadline}}</h1>
      <p class="para">{{home.fields.bannerSubHeadline}}</p>
      <hr>
      <div class="social center-block">
        <ul>
            <li><a ng-href="{{footer.fields.facebookUrl}}" target="_blank">
                <i class="fa fa-2x fa-facebook"></i>
            </a></li>
            <li><a href="{{footer.fields.twitterUrl}}" target="_blank">
                <i class="fa fa-2x fa-twitter"></i>
            </a></li>
            <li><a href="{{footer.fields.youTubeUrl}}" target="_blank">
                <i class="fa fa-2x fa-youtube"></i>
            </a></li>
            <li><a href="{{footer.fields.instagramUrl}}" target="_blank">
                <i class="fa fa-2x fa-instagram"></i>
            </a></li>
          </ul>
      </div>
    </div>
  </div>
  <!-- <div class="about-page">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <img id="b" class="img-responsive img-circle img-rounded img-center pull-left" src="http://i.imgur.com/dqm7J2h.jpg"/>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="about-content pull-right">
            <h2>About</h2>
            <hr>
            <p>
              I am a quick learner and prefer working in a team instead of working in isolation. I can also easily manage multiple tasks at any given time provided that I am given adequate time. I prefer working in an objected oriented development environment.My expertise
              are in .NET development and Java. Tools I have worked on include Git,Eclipse and Visual Studio.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div> -->
  <!-- <div class="portfolio jumbotron">
    <h2 class="heading">Works I am proud of</h2>
    <hr>
    <div class="container" id="portfolio-container">
      <div class="row">
        <div class="col-md-4 text-center portfolio-section">
          <i class="fa fa-5x fa-envelope-o " data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"></i>
          <h3>Android Spam Detection Application</h3>
          <p class="text-muted text-muted-para">
            Filter Roman Urdu messages containing spam words
          </p>
        </div>
        <div class="col-md-4 text-center portfolio-section">
          <i class="fa fa-5x fa-comments-o " data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"></i>
          <h3>Java Chat Messenger Application</h3>
          <p class="text-muted text-muted-para">
            A chat messenger application capable of handling multiple users
          </p>
        </div>
        <div class="col-md-4 text-center portfolio-section ">
          <i class="fa fa-5x fa-cutlery" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"></i>
          <h3>Calorie Counter Application</h3>
          <p class="text-muted text-muted-para">
            An Android application that calculates daily food maintenance
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div id="footer" class="contact">
   <footer>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#portfolio">Portfolio</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Afnan Shahid. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

  </div> -->
  <!-- </div> -->


<!-- </html> -->

  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img data-ng-src="{{home.fields.sliderImage1.fields.file.url}}"  alt="{{home.fields.sliderImage1.fields.description}}" >
          <div class="carousel-caption">
                 <h3>{{home.fields.sliderImage1Copy}}</h3>
             </div>
        </div>

        <div class="item">
        <img data-ng-src="{{home.fields.sliderImage2.fields.file.url}}"  alt="{{home.fields.sliderImage2.fields.description}}" >
        <div class="carousel-caption">
               <h3>{{home.fields.sliderImage2Copy}}</h3>
           </div>
        </div>

        <div class="item">
          <img data-ng-src="{{home.fields.sliderImage3.fields.file.url}}"  alt="{{home.fields.sliderImage3.fields.description}}" >
          <div class="carousel-caption">
                 <h3>{{home.fields.sliderImage3Copy}}</h3>
             </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</br>
  <!-- <div class= "container">
  <div id="carousel">
    <figure id="spinner">
      <img data-ng-src="{{home.fields.sliderImage1.fields.file.url}}"  alt >
      <img data-ng-src="{{home.fields.sliderImage2.fields.file.url}}"  alt >
      <img data-ng-src="{{home.fields.sliderImage3.fields.file.url}}"  alt >
      <img data-ng-src="{{home.fields.sliderImage1.fields.file.url}}"  alt >
      <img data-ng-src="{{home.fields.sliderImage2.fields.file.url}}"  alt >
      <img data-ng-src="{{home.fields.sliderImage3.fields.file.url}}"  alt >
      <img data-ng-src="{{home.fields.sliderImage1.fields.file.url}}"  alt >
      <img data-ng-src="{{home.fields.sliderImage2.fields.file.url}}"  alt >
    </figure>
  </div>
  <span style="float:left" class="ss-icon"  ng-click="homeCtrl.galleryspin('-')">&lt;</span>
  <span style="float:right" class="ss-icon" ng-click="homeCtrl.galleryspin('')">&gt;</span>
</div> -->
<div class="container">
    <div class="row">
          <div class="col-md-3" data-ng-repeat="product in homeCtrl.allProducts" style="text-align:center;">
            <div>
              <div>
                <img class="img-circle" data-ng-src="{{product.fields.dataItemImage.fields.file.url}}" alt="{{product.fields.dataItemImage.fields.description || product.fields.dataItemImage.fields.title}}">
              </div>
              <h3><strong>{{product.fields.dataItemName}} ${{product.fields.dataItemPrice}}</strong></h3>
              <button
                    class="snipcart-add-item"
                    data-ng-repeat="product in homeCtrl.allProducts"
                    data-item-id="{{product.fields.dataItemId}}"
                    data-item-name="{{product.fields.dataItemName}}"
                    data-item-price="{{product.fields.dataItemPrice}}"
                    data-item-url="http://hoseasandstrom.com/"
                    data-item-description="Some fresh bacon">
                        Buy bacon
                </button>
            </div>
          </div>
      </div>
    </div>
  <div class="container">
  <h2 class="section-title"><strong>Our Services</strong></h2>
    <div class="row">
      <div class="col-md-4">
        <div class="service">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
        <h3><strong>{{services.fields.service1Title}}</strong></h3>
        <p>{{services.fields.service1Copy}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <h3><strong>{{services.fields.service2Title}}</strong></h3>
        <p>{{services.fields.service2Copy}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <h3><strong>{{services.fields.service3Title}}</strong></h3>
        <p>{{services.fields.service3Copy}}</p>
        </div>
      </div>
  </div>
  <br/>
  <hr/>
     </div>
