<div id="waitListModal">
    <!-- check background color logic -->
    <div class="eventModalHeader" style="background-color:{{calendarCtrl.formColor}}">
        <img src="img/X_box.png" data-ng-click="calendarCtrl.cancel()" class="formAssemblyPartialImg">
        <p class="tk-clarendon-wide modalHeaderMobile communityGardenPopupTitle">{{calendarCtrl.currentEvent.fields.title}}</p>
    </div>
    <div class="modalBody iframe-container">
        <iframe class="iframe-frame" data-ng-if="calendarCtrl.iosDevice" scrolling="no" data-ng-src="{{formUrl}}" ></iframe>
        <!-- <iframe class="resizeThisShort" data-ng-if="!calendarCtrl.iosDevice" scrolling="yes" data-ng-src="calendarCtrl.currentEvent.fields.formAssemblyUrl" style="background-color: white; float: left;"></iframe> -->
    </div>
</div>
