<div id="volPartail">

<div class="parkAngelInfoBox">
    <img class="logo" data-ng-src="{{sideBarData.fields.logo.fields.file.url}}">
    <p class="thin omGrey" data-marked="sideBarData.fields.description"></p>
    <h5 class="omGrey" data-marked="sideBarData.fields.linkText"></h5>
    <br>
    <a>
        <a class="volunteerBtnPx" data-ui-sref="site.volunteer">
            <h3 class="tk-clarendon-wide volunteer">VOLUNTEER</h3>
            <h5>
                <span class="futuraThin withThe">with the</span>
            </h5>
            <h3 class="tk-clarendon-wide conservancy">CONSERVANCY</h3>
        </a>
    </a>
</div>

</div>
