<div id="waitListModal">
    <div class="eventModalHeader" style="text-align:center;display:block;float:left; width: 100%; background-image:url('img/greenWood.jpg');padding:20px; color: white;">
        <img src="img/X_box.png" data-ng-click="waitlistCtrl.cancel()" class="formAssemblyPartialImg">
        <p style="font-size: 25px; letter-spacing: 2px, padding: 1px;" class="tk-clarendon-wide">Community Gardening:</p>
        <p style="font-size: 30px;letter-spacing:2px;" class="tk-clarendon-wide.communityGardenPopupTitle">WAIT LIST SIGN-UP</p>
    </div>
    <div class="modalBody iframe-container">
        <iframe class="iframe-frame" data-ng-if="waitlistCtrl.iosDevice" scrolling="no" data-ng-src="{{formAssemblyUrl}}" ></iframe>
        <iframe class="resizeThisShort" data-ng-if="!waitlistCtrl.iosDevice" scrolling="yes" data-ng-src="{{formAssemblyUrl}}" style="background-color: white; float: left;"></iframe>
    </div>
</div>