
            <footer class="footer" style="margin: 5em 0em 1em 0em;">
            <div class="container" style="padding-left: 0">
              <div class="row">
                <div class="col-md-12">
                  <div class="footerCopy">
                      <h4>{{footer.fields.title}}</h4>
                  </div>
                  <div class="footerCopy">
                      <h5>{{footer.fields.footerBody}}</h5>
                  </div>
                <div class="wrapper" style="background-color:#ecf0f1; padding: 1em 2em">
                  <h3><strong>Quick Links</strong></h3>
                  <ul class="no-bullets">
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/team">TEAM</a></li>
                    <li><a href="/services">PRODUCTS/SERVICES</a></li>
                    <li><a ui-sref="site.volunteer({obj: 'scrollToForm'})">FORM</a></li>
                    <li><a href="/testimonials">CLIENT LIST/TESTIMONIALS</a></li>
                    <li><a href="/participants">PARTICIPANTS</a></li>
                    <li><a href="/partners">PARTNERS</a></li>
                    <li><a href="/news">NEWS</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">CONTACT US</a></li>
                  </ul>
                  <div class="footerSocialIcons">
                      <a ng-href="{{footer.fields.facebookUrl}}" target="_blank">
                          <i class="fa fa-2x fa-facebook"></i>
                      </a>
                      <a href="{{footer.fields.twitterUrl}}" target="_blank">
                          <i class="fa fa-2x fa-twitter"></i>
                      </a>
                      <a href="{{footer.fields.youtubeUrl}}" target="_blank">
                          <i class="fa fa-2x fa-youtube"></i>
                      </a>
                      <a href="{{footer.fields.instagramUrl}}" target="_blank">
                          <i class="fa fa-2x fa-instagram"></i>
                      </a>
                  </div>
                </div>
                <!-- <form name="MailchimpSubscriptionForm" data-ng-controller="MailchimpSubscriptionCtrl" class="ng-pristine ng-valid ng-scope ng-valid-email">
                    <div data-ng-hide="mailchimp.result === 'sucess'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.username" data-ng-init="mailchimp.username='USERNAME'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.dc" data-ng-init="mailchimp.dc='us1'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.u" data-ng-init="mailchimp.u='USER NUMBER'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.id" data-ng-init="mailchimp.id='USER ID'">
                        <input
                        class="emailFormInput tk-futura-pt col-md-6 ng-pristine ng-untouched ng-valid ng-empty ng-valid-email"
                        type="email"
                        placeholder="EMAIL ADDRESS"
                        data-ng-model="mailchimp.EMAIL"
                        data-ng-init="mailchimp.dc='us1'">
                        <button
                            data-ng-click="addSubscription(mailchimp)" id="sign-me-up-button">Sign Me Up</button>
                    </div>
                    <div data-ng-show="mailchimp.result === 'success'" class="ng-hide">
                        <span data-ng-bind-html="mailchimp.successMessage" class="ng-binding mail-chimp-result-message"></span>
                    </div>
                    <div data-ng-show="mailchimp.result === 'error'" class="ng-hide">
                        <span data-ng-bind-html="mailchimp.errorMessage" class="ng-binding mail-chimp-result-message"></span>
                    </div>
                </form> -->
                <!-- <div> -->
            <div class="floatRight">
                <a href="http://www.obviouslee.com" target="_blank">
                    SITE BY <span>OBVIOUSLEE MARKETING</span>
                </a>
            </div>
        <!-- </div> -->
                </div>
              </div>
            <!-- </div> -->

          </div>
      </footer>
            <!-- </form> -->
