<footer class="footer">
  <div class="container">
    <div class="row">
      <div>
        <div>
          <h4>{{footer.fields.title}}</h4>
        </div>
        <div>
          <h5>{{footer.fields.footerBody}}</h5>
        </div>
      </div>
      <div class="container">
        <p class="text-muted credit">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Links <span class="caret-up"></span>
                </button>
            <ul class="dropdown-menu drop-up" role="menu">
              <li><a href="/about">About</a></li>
              <li><a href="/team">Team</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/testimonials">Testimonials</a></li>
              <li><a href="/faq">FAQ</a>
                <li><a href="/contact">Contact Us</a></li>
                <li class="divider"></li>
                <li><a href="/">Home</a></li>
            </ul>
          </div>
        </p>
        <div>
          <a ng-href="{{footer.fields.facebookUrl}}" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
          <a href="{{footer.fields.twitterUrl}}" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
          <a href="{{footer.fields.youtubeUrl}}" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
          <a href="{{footer.fields.instagramUrl}}" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
      </div>
      <!-- <form name="MailchimpSubscriptionForm" data-ng-controller="MailchimpSubscriptionCtrl" class="ng-pristine ng-valid ng-scope ng-valid-email">
                    <div data-ng-hide="mailchimp.result === 'sucess'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.username" data-ng-init="mailchimp.username='USERNAME'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.dc" data-ng-init="mailchimp.dc='us1'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.u" data-ng-init="mailchimp.u='USER NUMBER'">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-not-empty" type="hidden" data-ng-model="mailchimp.id" data-ng-init="mailchimp.id='USER ID'">
                        <input
                        class="emailFormInput tk-futura-pt col-md-6 ng-pristine ng-untouched ng-valid ng-empty ng-valid-email"
                        type="email"
                        placeholder="EMAIL ADDRESS"
                        data-ng-model="mailchimp.EMAIL"
                        data-ng-init="mailchimp.dc='us1'">
                        <button
                            data-ng-click="addSubscription(mailchimp)" id="sign-me-up-button">Sign Me Up</button>
                    </div>
                    <div data-ng-show="mailchimp.result === 'success'" class="ng-hide">
                        <span data-ng-bind-html="mailchimp.successMessage" class="ng-binding mail-chimp-result-message"></span>
                    </div>
                    <div data-ng-show="mailchimp.result === 'error'" class="ng-hide">
                        <span data-ng-bind-html="mailchimp.errorMessage" class="ng-binding mail-chimp-result-message"></span>
                    </div>
                </form> -->
      <div>
        <a href="http://www.obviouslee.com" target="_blank">
                    SITE BY <span>OBVIOUSLEE MARKETING</span>
                </a>
      </div>
    </div>
  </div>
</footer>
