<div id="header">
  <div class="bloc bgc-white l-bloc" style="position: fixed;z-index: 25;top: 0; left:0; right:20;" id="bloc-0">

    <div class="container bloc-sm">
      <nav class="navbar row">
        <div class="navbar-header">
          <a class="navbar-brand" href=""><img class="logo"src="img/CititBotLogo-Final.png" alt="logo" width="300" /></a>
          <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse navbar-1" style="margin-right:20px;">
          <ul class="site-navigation nav navbar-nav ">
            <li>
              <a href="#demovid">Demo</a>
            </li>
            <li>
              <a href="#features">Features</a>
            </li>
            <li>
              <a href="#value">Value</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
