<div id="header">


<!-- <div class="sharedNavHeader header background--light"> -->

  <!-- DESKTOP MENU -->
  <div class="navlongView">
    <a class="parkBrand" data-ui-sref="site.home" href="#">
      <img alt="Brand" src="https://placehold.it/300X150" class="brand" >
    </a>
    <div class="longNavLinkBox">
      <!-- <a class="headerLink tk-futura-pt" data-ui-sref="site.about" data-ui-sref-active="activeUnderline" href="#">ABOUT</a> -->
      <a class="headerLink tk-futura-pt" href="/about" data-ui-sref-active="activeUnderline" >ABOUT</a>
      <a class="headerLink tk-futura-pt" href="/team" data-ui-sref-active="activeUnderline" >TEAM</a>
      <a class="headerLink tk-futura-pt" href="/services" data-ui-sref-active="activeUnderline" >SERVICES</a>
      <a class="headerLink tk-futura-pt" href="/testamonials" data-ui-sref-active="activeUnderline" >TESTIMONIALS</a>
      <a class="headerLink tk-futura-pt" href="/participants" data-ui-sref-active="activeUnderline" >PARTICIPANTS</a>
      <a class="headerLink tk-futura-pt" href="/partners" data-ui-sref-active="activeUnderline" >PARTNERS</a>
      <a class="headerLink tk-futura-pt" href="/faq" data-ui-sref-active="activeUnderline" >FAQ</a>
      <a class="headerLink tk-futura-pt" href="/contact" data-ui-sref-active="activeUnderline" >CONTACT US</a>

  <!-- MOBILE MENU -->
  <!-- <div class="navShortView clearfix">
    <div class="midMobileNav">
      <div class="col-xs-1">
        <div class="expandButton">
          <img data-ng-click="open = !open" data-ng-src="img/hamburgerMenu.svg" class="hamburgerMenu" src="img/hamburgerMenu.svg">
        </div>
      </div>
      <div class="col-xs-4 conservancyFoot marginTopMobileNavTxt" >
        <a class="mobileNavTxt" data-ng-click="open = !open"> MENU</a>
      </div>
    </div>
    <div class="shortNavDropDown hide" data-ng-class="open ? 'show' : 'hide'">
      <div class="shortNavLinks">
        <a data-ui-sref="site.about" ng-click="open = !open" href="#">ABOUT</a>
        <a data-ui-sref="site.programs" ng-click="open = !open" href="#">TEAM</a>
        <a data-ui-sref="site.calendar" ng-click="open = !open" href="#">PRODUCTS/SERVICES</a>
        <a data-ui-sref="site.news-home" ng-click="open = !open" href="#">CLIENT LIST/TESTIMONIALS</a>
        <a data-ui-sref="site.donate" ng-click="open = !open" href="#">PARTICIPANTS</a>
        <a data-ui-sref="site.volunteer" ng-click="open = !open" href="#">PARTNERS</a>
        <a data-ui-sref="site.careers" ng-click="open = !open" href="#">FAQ</a>
        <a data-ui-sref="site.contact" ng-click="open = !open" href="#">CONTACT US</a>
      </div>
    </div>
  </div> -->
</div>
</div>
<!-- </div> -->
</div>
