<div id="listView">
  <div class="team">
    <div class="desktopImageSizing">
    <div class="container fluid">
      <h1 class="section-title"><strong>Our Team Desktop</strong></h1>
      <div class="card hovercard" data-ng-repeat="member in listCtrl.allMembers | orderBy: 'fields.priority'" data-ng-href="/{{listCtrl.detailHref}}/{{member.fields.slug}}">
        <img src="http://placehold.it/300x200/000000/&text=Header" alt="" />
        <div class="avatar">
          <img data-ng-src="{{member.fields.teamMemberImage.fields.file.url}}" alt="{{member.fields.teamMemberImage.fields.description || member.fields.teamMemberImage.fields.title}}" />
        </div>
        <div class="info">
          <div class="title">
            {{member.fields.teamMemberTitle}}
          </div>
          <div class="desc">{{member.fields.firstName}}</div>
          <div class="desc">{{member.fields.lastName}}</div>
        </div>
        <div class="bottom">
          <button class="btn btn-default">Contact</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-hero-image"
    <div class="container fluid">
      <h2 class="section-title"><strong>Our Team Mobile</strong></h2>
      <div class="container">
        <div class="row">
          <a data-ng-repeat="member in listCtrl.allMembers | orderBy: 'fields.priority'" data-ng-href="/{{listCtrl.detailHref}}/{{member.fields.slug}}" style="text-align:center; padding-bottom:10px;">
            <div style="padding-bottom:20px">
              <div>
                <img class="img-circle" style="max-width:70%;" data-ng-src="{{member.fields.teamMemberImage.fields.file.url}}" alt="{{member.fields.teamMemberImage.fields.description || member.fields.teamMemberImage.fields.title}}">
              </div>
              <h4>{{member.fields.firstName}} {{member.fields.lastName}}</h4>
              <em>{{member.fields.teamMemberTitle}}</em>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
