<div id="memberView">

<div class="topBanner">
  <a class="tk-clarendon-wide backToListView" data-ui-sref="{{memberCtrl.parentPage.link}}">&nbsp< BACK TO
    {{memberCtrl.parentPage.text}}</a>
</div>
<div class="clearfix"></div>
<div class="col-md-6">
  <div class="eventBlock col-md-12">
      <img data-ng-src="{{memberCtrl.currentMember.fields.image.fields.file.url}}" alt="{{memberCtrl.currentMember.fields.image.fields.description || memberCtrl.currentMember.image.fields.title}}">
  </div>
</div>
<div class="col-md-6 memberInfo">
  <h6 class="tk-futura-pt memberName">{{memberCtrl.currentMember.fields.name}}</h6>
  <h6 class="tk-futura-pt memberTitle" data-ng-if="memberCtrl.currentMember.fields.title">{{memberCtrl.currentMember.fields.title}}</h6>
  <h6>{{currentNews.fields.authors.fields.name || currentNews.fields.newsArticle.fields.authors.fields.name}}</h6>
  <div class="memberBody">
    <div class="tk-futura-pt" id="newsbody" data-marked="memberCtrl.currentMember.fields.info"></div>
  </div>
</div>
<div class="col-md-12 memberGallery">
  <a class="galleryImages col-md-4" data-ng-repeat="member in memberCtrl.allMembers | orderBy:'last'" data-ng-href="/{{memberCtrl.detailHref}}/{{member.fields.slug}}" alt="{{teamMember.fields.image.fields.description || teamMember.fields.image.title}}">
    <img ng-src="{{member.fields.thumbnail.fields.file.url || member.fields.image.fields.file.url}}" alt="" class="unselectedMembers">
  </a>
</div>
</div>
